<section>
    <div>
        <img src="<%= book.image_url %>" alt="">
        <h2>
            <%= book.title %>
        </h2>
        <h3>
            <%= book.author %>
        </h3>

    </div>
</section>