<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="/layout.css">
  <link rel="stylesheet" href="/modules.css">
    <title>Document</title>
</head>

<body>
    <header>
       
    </header>
    <main>
        <p><%= books.length %></p>
        <%
        books.forEach(book=>{ %>
            <div>
                <%- include('./books/detail', {book: book}) %>
                
                <form action="/books/<%= book.id %>">
                    <button type="submit">View Details</button>
                </form>
            </div>
            <% }) %>
    </main>
    <footer>

    </footer>

</body>

</html>